# Core
python-dotenv
requests
pandas
numpy

# Feature store / model registry
hopsworks
confluent-kafka

# Modeling
scikit-learn
tensorflow
statsmodels

# Explainability
shap

# Web app
streamlit
plotly
fastapi
uvicorn

# EDA / plotting
matplotlib
seaborn
jupyter
nbconvert
ipykernel
