# Core
python-dotenv
requests
pandas
numpy

# Feature store / model registry
hopsworks
confluent-kafka

# Modeling
scikit-learn
tensorflow

# Explainability
shap

# Web app
streamlit
fastapi
uvicorn

# EDA / plotting
matplotlib
seaborn
